---
import MainLayout from "../layouts/MainLayout.astro";
import Section from "../components/Section.astro";
import { Image } from "astro:assets";
import farver from "../assets/images/01-farver.png";
import motiver from "../assets/images/02-motiver.png";
import strl from "../assets/images/03-strl.png";
import layout1 from "../assets/images/04-layout1.png";
import layout2 from "../assets/images/04-layout2.png";
import layout3 from "../assets/images/04-layout3.png";
import layout4 from "../assets/images/04-layout4.png";
---

<MainLayout
  title="Plakatvæg info"
  description="En guide til at lave en optimal plakatvæg på den bedste og hurtigste måde med det flotteste resultat!"
  ogtitle="Plakatvæg info"
  ogdescription="En guide til at lave en optimal plakatvæg på den bedste og hurtigste måde med det flotteste resultat!"
>
  <article class="flex flex-col container gap-8 prose items-center">
    <section id="hero">
      <div id="hero-text" class="bg-white">
        <h1 class="m-3 text-center">En kort historie om surf rock</h1>
      </div>
    </section>

    <section class="border-red-400 border-2 max-w-screen-md">
      <img src="/src/assets/images/02-motiver.png" alt="stand in billede" />
      <p>
        Surfmusik opstod i Californien i tidlige 1960'ere og blev hurtigt en
        vigtig del af ungdomskulturen.
      </p>
    </section>

    <section class="border-red-400 border-2 max-w-screen-md">
      <img src="/src/assets/images/02-motiver.png" alt="stand in billede" />
      <p>
        Genren kombinerede elementer af rock and roll, instrumentalmusik og en
        unik, bølgelignende lyd, der fangede essensen af surfinglivet.
      </p>
    </section>

    <section class="border-red-400 border-2 max-w-screen-md">
      <img src="/src/assets/images/02-motiver.png" alt="stand in billede" />
      <p>
        Bands som The Beach Boys og Dick Dale var blandt de mest fremtrædende
        navne, hvor Dale, ofte kaldt "King of the Surf Guitar", brugte
        tremolo-teknikker og hurtige riff, der imiterede lyden af bølger.
      </p>
    </section>

    <section class="border-red-400 border-2 max-w-screen-md">
      <img src="/src/assets/images/02-motiver.png" alt="stand in billede" />
      <p>
        Musikken blev tæt knyttet til surfkulturen, og teksterne handlede ofte
        om strandliv, biler og ungdommelig frihed.
      </p>
    </section>

    <section class="border-red-400 border-2 max-w-screen-md">
      <img src="/src/assets/images/02-motiver.png" alt="stand in billede" />
      <p>
        The Beach Boys’ harmonier og melodiske tilgang populariserede
        surfmusikken og gjorde den til en global sensation. Deres album "Pet
        Sounds" fra 1966 anses nu som et af de mest indflydelsesrige i
        rockhistorien.
      </p>
    </section>

    <section class="border-red-400 border-2 max-w-screen-md">
      <img src="/src/assets/images/02-motiver.png" alt="stand in billede" />
      <p>
        I takt med at 60’erne skred frem, mistede surfmusikken noget af sin
        popularitet, men den efterlod en varig indflydelse på mange genrer,
        herunder punk og rock. I dag lever surfmusikken videre i forskellige
        former og har inspireret mange moderne musikere, der fortsætter med at
        fange den nostalgiske ånd af bølgerne og den kaliforniske livsstil.
        Surfmusikken står derfor som et tidløst symbol på ungdommeligt oprør og
        frihed.
      </p>
    </section>

    <section class="border-red-400 border-2 max-w-screen-md">
      <img src="/src/assets/images/02-motiver.png" alt="stand in billede" />
      <p>
        I punkrocken inkorporerede bands som The Ramones og The Dickies
        surfmusikens energi og melodiske elementer i deres lyd...
      </p>
    </section>

    <section class="border-red-400 border-2 max-w-screen-md">
      <img src="/src/assets/images/02-motiver.png" alt="stand in billede" />
      <p>
        The Cure og The B-52's brugte surflyde i nogle af deres sange, hvilket
        tilføjede en unik atmosfære til alternativ rock...
      </p>
    </section>

    <section class="border-red-400 border-2 max-w-screen-md">
      <img src="/src/assets/images/02-motiver.png" alt="stand in billede" />
      <p>
        ... og i grungens verden blev Nirvana og Pearl Jam påvirket af
        surfmusikens guitarlyde, selvom de bevægede sig i en mere mørk retning.
      </p>
    </section>
  </article>
</MainLayout>

<style>
  #hero {
    background-image: url("src/assets/images/hero.png");
    object-fit: cover;
    height: 100vh;
    width: 100vw;
  }

  #hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  article {
    max-width: 100%;
  }
</style>
